<h1>All Tasks</h1>

<main>
  <% @tasks.each do |task| %>
  <p>
    <%= link_to_if task.completed_at.nil?, "(complete)", complete_path(task), method: "patch", class: "small button" %>
    <%= link_to "#{task.title.capitalize}", task_path(task) %> (<%= formatted_time(task) %>) &ndash;
    <%= link_to "delete", task_path(task),
                method: "delete",
                data: { confirm: "Are you sure you want to delete this task?" } %>
  </p>
  <% end %>
</main>


<p>
  <%= link_to "Add a New Task!", new_task_path %>
</p>

<p>
  <%= login_link %>
</p>
