<h1>All Tasks</h1>

<ul>
<% @tasks.each do |t| %>
 <li>
  <% if t.completed_at == nil %>
    <%= form_for t, html: {class: "completed"} do |f| %>
      <%= f.hidden_field :completed_at, value: Time.now.utc %>
      <%= f.submit "Complete?", data: {confirm: "Are you sure?"} %>
    <% end %>
  <% else %>
    <em>(Completed)</em>
  <% end %>
  <%= link_to "#{t.title.capitalize}", task_path(t) %> (<%= formatted_time(t) %>) &ndash;
  <%= link_to "delete", task_path(t),
              method: "delete",
              data: { confirm: "Are you sure you want to delete this task?" } %>
  </li>
<% end %>
</ul>

<p>
  <%= link_to "Add a New Task!", new_task_path %>
</p>
