<h1>
    <%= @task.title.capitalize %>
</h1>

[<%= link_to_if @task.completed_at.nil?, "edit", edit_task_path %>]

<ul>
  <li>
    <strong>Description:</strong> <%= @task.description %>
  </li>

  <li>
    <strong>Date completed:</strong> <%= formatted_time(@task) %>
  </li>
</ul>

<p>
  <%= link_to "Home", tasks_path %>
</p>
