<h1>
    <%= @task.title.capitalize %>
</h1>

[<%= link_to "edit", task_edit_path %>]

<ul>
  <li>
    <strong>Description:</strong> <%= @task.description %>
  </li>

  <li>
    <strong>Date completed:</strong>
    <% if @task.completed_at == nil %>
      not yet completed
    <% else %>
      <%= @task.completed_at.strftime("%B %e, %Y (%I:%M:%S %p)") %>
     <% end %>
  </li>
</ul>

<p>
  <%= link_to "Home", tasks_path %>
</p>
